body{
    background-color: beige;
}
header img{
    float: left;
    margin-left: 20px;
}
h1{
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
}
span{
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: white;
    font-size: 18px;
}
header{
    height: 80px;
    background-color:#5a5352;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    background-color:grey;
    position: sticky;
    float: right;
    top: 0px;
    z-index: 5000;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 20%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: #5a5352;
    border-bottom: 2px solid #5a5352;
}
.active{
    color: black;
    border-bottom: 2px solid black;
}
.dropdown .dop {
  display: inline-block;
  text-align: center;
  padding: 13px 13px;
  text-decoration: none; 
  width: 110px;
  background-color:lightgrey;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  z-index: 1;

}
.dropdown-content .dop{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 250px;
  font-size: 17px;
}

.dropdown-content .dop:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.conteneur{
  margin: 0px 20px;
  height: 1500px;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    top: 0;
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color:#f2f2f2;
  font-size: 30px;
  padding:13px 0 13px 0;
  position: absolute;
  font-family: 'Cormorant SC', serif;
  top:350px;
  width: 400px;
  height: 70px;
  text-align: center;
  margin-left: 500px;
  border: 1px solid white;
   -webkit-backdrop-filter: blur(8px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.2);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.s2{
    top: 500px;
    width: 100%;
    height: 700px;
    background-color: beige;
}
.tttt{
     font-family: 'Cormorant SC', serif;
     font-size: 38px;
     color: black;

}
.c3{
     font-family:initial;
     font-weight: normal;
}
.c4{
    color: #b85a4c;
}
.art{
    width: 400px;
    height: 500px;
    background-color: white;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    transition: 0.2s ease-in-out;
}
.art:hover {
    transform: translateY(-10px);
    box-shadow:0px 0px 5px 2px grey;
}
.img1{
    width: 350px;
    height: 250px;
    margin-top:20px;
    margin-left: 20px;
}
article h2{
    text-align: center;
    font-family: 'Cormorant SC', serif;
    color: black;
}
article p{
    padding: 15px;
    color: black;
    text-align: center;

}
article a:hover{

}
.art1{
    left:500px;
    top: 0px;

}
.mm{
    width: 100%;
    height: 600px;
    margin-top: 60px;
}
.di{
    position: absolute;
    width: 600px;
    height: 220px;
    top:1700px;
    left:400px;
    background-color: lightgrey;
}
.di h2{
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    color:black;
}
.di p{
    color:black;
    padding: 15px;
    text-align: center;
}
.s3{
    position: relative;
    top: 680px;
    background-color: beige;
    width: 100%;
    height: 500px;
}
.s3 img{
    margin: 50px;
    width: 400px;
    height: 400px;
}
.s3 div{
    position: absolute;
    top:200px;
    left: 150px;
    width: 200px;
    height: 80px;
    border:1px solid black;
    font-weight: bold;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 25px;
}
.s3 article{
    position: relative;
    float: right;
    border: 1px dashed brown;
    width:700px;
    margin-right: 100px;
    height: 400px;
    top: 50px;
}
.s3 article h1{
    font-family: 'Cormorant SC', serif;
    font-size: 25px;
    color: black;
    text-align: left;
    padding: 20px;

}
.s3 article p{
     font-family: arial;
    font-style: italic;
}
.mg{
    width: 100%;
    height: 400px;
}
.desc{
    position: absolute;
    text-align: center;
    width: 50%;
    left: 350px;
    top: 280px;
    color: white;
}
.desc h2{
    font-family: 'Cormorant SC', serif;
    font-size: 35px;
}
.desc p{
    font-family: arial;
     font-style: italic;
     font-size: 17px;
     padding: 5px;
}
@keyframes A2{
  from{
    left: 0px;
  }
  to{
    left:300px;
  }
}
.sec6{
  position: absolute;
  top: 630px;
  width: 700px;
  height: 860px;
  left: 300px;
  background-color:lightgrey;
  animation-name: A2;
  animation-duration: 2s;
  animation-direction: alternate;
  border-radius: 7px;

}
@keyframes A111{
  from{
    left: 0px;
  }
  to{
    left:400px;
  }
}
.ss{
    left: 400px;
  animation-name: A111;
  animation-duration: 2s;
  animation-direction: alternate;
  border-radius: 7px;
}
form h2{
    font-family: "Roboto Condensed";
  font-size: 20px;
  padding: 10px;
}
label{
  font-family: "Roboto Condensed";
  font-size: 20px;
  padding: 10px;

}
.h{
    height: 470px;
}
input[type=text],input[type=e-mail],input[type=password],input[type=date],input[type=number],select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
input[type=submit] {
  width: 100%;
  background-color: darksalmon;
  color: white;
  font-size: 20px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: gray;
}
section form h2{font-family: 'Cormorant SC', serif;
font-size: 25px;}
@keyframes A10{
  from{
    width: 0%;
    height: 0%;
    margin: 50%;

  }
  to{
    width: 100;
    height: 60%;
    margin: 0px;
  }
}
.img3{
  height: 60%;
  width:100%;
  animation-name: A10;
  animation-duration: 4s;
}
footer{
    position: relative;
    top: 750px;
    background-color:#5a5352;
}
.f{
    position: absolute;
    height: 80px;
    top: 2570px;
    width: 100%;
    background-color:#5a5352;
}